* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #000;
}

.navbar-section {
  height: 50px;
  background-color: rgb(224, 27, 27);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-section .navbar-logo {
  margin-right: 100px;
  margin-left: 50px;
  flex: 2;
}
.navbar-section .navbar-items {
  flex: 4;
}
.navbar-section .navbar-items .navbar-item {
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
  margin: 0 10px;
}
.navbar-section .navbar-items .navbar-item:hover {
  font-weight: bold;
}

.about-section {
  padding: 40px;
  background-color: rgb(46, 46, 225);
}
.about-section h3 {
  color: #fff;
  font-size: 1.5rem;
  padding: 10px;
}
.about-section .about-para {
  color: rgb(213, 208, 208);
  padding: 10px;
}

.product-div {
  background-color: green;
}
.product-div h3 {
  color: #fff;
  font-size: 1.5rem;
  padding: 50px 50px 0 50px;
}
.product-div .products-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}
.product-div .products-section .product {
  margin: 20px 50px;
}
.product-div .products-section .product img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}
.product-div .products-section .product iframe {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.service-div {
  background-color: gray;
}
.service-div h3 {
  color: #fff;
  font-size: 1.5rem;
  padding: 50px 50px 0 50px;
}
.service-div .service-section {
  color: rgb(213, 208, 208);
  padding: 20px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}
.service-div .service-section h4 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-div .service-section .left-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}
.service-div .service-section .right-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}

.contact-section {
  background-color: rgb(26, 255, 0);
  color: rgb(253, 247, 247);
  display: flex;
}
.contact-section .left-contact {
  padding: 50px;
  flex: 2;
}
.contact-section .left-contact .contact-item {
  display: flex;
  align-items: center;
  color: rgb(253, 247, 247);
}
.contact-section .left-contact .contact-item h4 {
  margin-right: 20px;
}
.contact-section .left-contact .contact-item p {
  font-size: 1.3rem;
}
.contact-section .left-contact .contact-item a {
  text-decoration: none;
  color: rgb(253, 247, 247);
}
.contact-section .left-contact .contact-item a:hover {
  color: red;
  text-decoration: underline;
}
.contact-section .right-contact {
  padding: 50px;
  flex: 2;
}

.footer-section {
  padding: 20px;
  color: rgb(213, 208, 208);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 925px) {
  .product-div .products-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar-section {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar-section .navbar-items {
    -moz-columns: reverse;
         columns: reverse;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .product-div .products-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .service-div .service-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .service-div .service-section .left-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .service-div .service-section .right-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=style.css.map */